include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include Juggling_management *.css
recursive-include Juggling_management *.csv
recursive-include Juggling_management *.html
recursive-include Juggling_management *.ico
recursive-include Juggling_management *.js
recursive-include Juggling_management *.json
recursive-include Juggling_management *.md
recursive-include Juggling_management *.png
recursive-include Juggling_management *.py
recursive-include Juggling_management *.svg
recursive-include Juggling_management *.txt
recursive-exclude Juggling_management *.pyc