include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include juggling_management *.css
recursive-include juggling_management *.csv
recursive-include juggling_management *.html
recursive-include juggling_management *.ico
recursive-include juggling_management *.js
recursive-include juggling_management *.json
recursive-include juggling_management *.md
recursive-include juggling_management *.png
recursive-include juggling_management *.py
recursive-include juggling_management *.svg
recursive-include juggling_management *.txt
recursive-exclude juggling_management *.pyc